<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owner</title>
</head>
<body>
    <h1 th:text="'List of Owner'">Owner List</h1>
    <table>
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstname}">Joe</td>
            <td th:text="${owner.lastname}">Buck</td>
        </tr>
        </tbody>
    </table>
</body>
</html>